<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      <button @click="applicationtoggle = !applicationtoggle">
        Toggle Applications
      </button>
      <button @click="pettoggle = !pettoggle">Toggle Pets</button>

      <div id="Pets" v-if="pettoggle">
        <h2>Add Pet</h2>
        <input v-model="newPets.name" type="text" />
        <input v-model="newPets.species" type="text" />
        <input v-model="newPets.breed" type="text" />
        <input v-model="newPets.age" type="number" />
        <input v-model="newPets.gender" type="text" />
        <button v-on:click="addPets">addPet</button>

        <!-- <input v-model="deleteName" type="text" /> -->
        <!-- <button v-on:click="deleteCat(deleteName)">deleteCat</button> -->

        <h2>Pets</h2>
        <ul>
          <li v-for="(pet, index) in pets">
            {{ pet.name }} - {{ pet.species }} - {{ pet.breed }} - {{ pet.age }}
            - {{ pet.gender }} - {{ pet.count }}
          </li>
        </ul>
      </div>

      <div id="Applications" v-if="applicationtoggle">
        <h2>Add Applications</h2>
        <input v-model="newApplications.name" type="text" />
        <input v-model="newApplications.phonenumber" type="text" />
        <input v-model="newApplications.email" type="text" />
        <input v-model="newApplications.petid" type="text" />
        <button v-on:click="addApplications">addApplication</button>

        <h2>Applications</h2>
        <ul>
          <li v-for="(application, index) in applications">
            {{ application.name }} - {{ application.phonenumber }} - {{
            application.email }} - {{ application.petid }}
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
